{
    "IsEncrypted": false,
    "Values": {
      "AzureWebJobsStorage": "Your Azure StorageConnString Here",
      "FUNCTIONS_WORKER_RUNTIME": "python",
      "AzureWebJobsFeatureFlags": "EnableWorkerIndexing",
      "EHNS_CONN_STRING": "Your Event Hub Namespace Conn String Here",
      "EH_NAME": "items-raw",
      "PARTITION_COUNT": 32,
      "APPLICATIONINSIGHTS_CONNECTION_STRING": "Your App Insights Conn String Here",
      "APPINSIGHTS_INSTRUMENTATIONKEY": "Your App Insights Instrumentation Key Here"
    }
  }